<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'sampleapp/new_style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<center>
    <form method="post">
        {% csrf_token %}
        <h2>UPDATE USERS DATA</h2>
        <div class="fullname">
            <label for="fname">First Name</label>
            <input type="text" name="fname" id="fname" value="{{user.first_name}}">
            <br>
            <label for="lname">Last Name</label>
            <input type="text" name="lname" id="lname" value="{{user.last_name}}">
        </div>

        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="{{user.email}}"><br>
            <label for="usn">Username</label>
            <input type="text" name="username" id="usn" value="{{user.username}}">
        </div>

        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="{{user.password}}">
        </div>

        <div class='gender'>
            <label for="gender">Gender</label>
            <select name="gender" id="gender">
                <option value="{{user.gender}}">{{user.gender}}</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div class="dob" >
            <label for="dob">Date of Birth</label>
            <input type="text" size="10" name="dob" id="dob" value="{{user.date_of_birth}}">
        </div>

         <div class="user_role" >
            <label for="role">Role</label>
             <select name="role" id="role">
                 <option value="{{user.role}}">{{user.role}}</option>
                 <option value="costumer">Costumer</option>
                 <option value="manager">Manager</option>
                 <option value="admin">Admin</option>
             </select>
        </div>

        <input type="hidden" name="id" value="{{user.id}}">
        <button type="submit" onclick="window.location.href='#'">Update</button><br>

    </form>
</center>
</body>
</html>